@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

body {
        font-family: "Parkinsans", sans-serif;
}

.container {
    /* border: 1px solid black; */

    width: 95%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hex-colors {
    /* border: 1px solid black; */
    text-align: center;

}

.hex-colors h1 {
    font-size: 2rem; 
    text-transform: uppercase;
    animation: colorchange 5s infinite alternate;
}

.hex-colors h2 {
    /* border: 1px solid black; */
    font-size: 2rem;
    margin-top: 15%;
}

@keyframes colorchange {
    0% {
        color: blueviolet;
    }
    20% {
        color: gold;
    }
    40% {
        color: greenyellow;
    }
    60% {
        color: orange;
    }
    80% {
        color: red;
    }
}